.controller {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.toolbar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    padding: 10px;
    transition-property: transform opacity;
    will-change: transform opacity;
    transition-duration: .3s;
    transform: translateY(100%);
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
}

.center-overlay {
    position: absolute;
    width: 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all .4s;
    opacity: .6;
}

.center-overlay:hover {
    opacity: .8;
    transform: translate(-50%, -50%) scale(1.2);
}

.bottom-bar {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.play-btn {
    width: 30px;
    cursor: pointer;
    margin-right: 10px;
}