.cell {
    width: calc(100% / var(--segment, 3));
    padding: 2px;
}

@media screen and (min-width: 560px) {
    .cell {
        --segment: 5;
    }
}

@media screen and (min-width: 768px) {
    .cell {
        --segment: 7;
    }
}

@media screen and (min-width: 900px) {
    .cell {
        --segment: 8;
    }
}

@media screen and (min-width: 1000px) {
    .cell {
        --segment: 10;
    }
}
